version: "3.8"

services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  backend:
    build:
      context: .                   # root folder
      dockerfile: Dockerfile        # backend Dockerfile
    image: your_dockerhub_username/expense-backend:latest
    container_name: expense-backend
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/expense-tracker
    depends_on:
      - mongo
    ports:
      - "5000:5000"
    restart: unless-stopped

  frontend:
    build:
      context: ./client            # points to client folder
      dockerfile: Dockerfile        # frontend Dockerfile
    image: your_dockerhub_username/expense-frontend:latest
    container_name: expense-frontend
    depends_on:
      - backend
    ports:
      - "80:80"
    restart: unless-stopped

volumes:
  mongo_data:
